@import 'normalize'
@import 'typographic'
@import 'settings'

typographic()

body
  margin 0 auto
  padding 0.75em
  background-image $background

  +hd()
    max-width $hd-cutoff

  +desktop()
    max-width $desktop-cutoff

  +tablet()
    max-width $tablet-cutoff

dd
  margin-left 2em
  text-indent -1em

header
  display flex
  align-items center
  +hd()
    lost-center $hd-cutoff

  +desktop()
    lost-center $desktop-cutoff

  +tablet()
    lost-center $tablet-cutoff

  .left
    lost-offset 1/8
    lost-column 3/8
    img
      width 100%

  .right
    lost-column 4/8
    text-align right

  +mobile()
    .left
      lost-offset 1/5
      lost-column 1/5

    .right
      lost-column 3/5
      text-align right

.a-venir
  font-style italic

a
  color red
  text-decoration none

a:hover
  color orange

h1, h3, h4, h5
  margin 0

footer
  font-size 80%
  border-top vr-block(0.333) ridge green
  padding-top vr-block(0.333)
  margin-top vr-block(0.333)

  p
    margin-bottom vr-block(0.5)
    margin-top  vr-block(0.25)

  h4
    font-weight bold

  div:last-child
    text-align right
    +mobile()
      text-align left

    ul
      list-style none

footer, section
  +hd()
    lost-center $hd-cutoff

  +desktop()
    lost-center $desktop-cutoff

  +tablet()
    lost-center $tablet-cutoff

.halves
  div
    lost-column 1/2


.thirds
  div
    lost-column 1/3

  +mobile()
    div
      lost-column 3/3

.fifths
  div
    lost-column 2/5

  div:first-child
    lost-column 3/5

  +mobile()
    div, div:first-child
      lost-column 5/5

.avec-repertoire
  #boxes
    display: inline
  .buttons
    input, label, button
      display inline

    div
      button
        line-height vr-block(0.5)
        width: 3em

      span
        margin-left 0.5em
        margin-right 0.5em

    label
      cursor pointer

    input:checked + label
      color red

    input[type=checkbox] + label
      margin-right 1em

    input[type=text]
      width 5em

    input[name=keyword]
      width 7em

  #compteFiches
    transition font-size 3s

  #compteFiches.growing
    font-size: 3em;

  section
    lost-masonry-wrap no-flex

    +hd()
      lost-center $hd-cutoff

    +desktop()
      lost-center $desktop-cutoff

    +tablet()
      lost-center $tablet-cutoff

    div
      margin-bottom vr-block(1)
      border-bottom thin solid black
      transition background 0.3s ease-in-out

      h3
        font-size 1.05em
        font-weight bold

      p
        margin-bottom vr-block(0.25)
        margin-left 0.5em
        text-indent -0.5em

      lost-masonry-column 1/4

      +tablet()
        lost-masonry-column 1/3

      +between(400px, 650px)
        lost-masonry-column 1/2

      +mobile()
        lost-column 1/1

      img
        width 100%
        transition margin 0.3s ease-in-out
        //padding-top vr-block(4)

    div.picking
      img
        margin-top vr-block(2)

    div.pick
      background yellow
