<%
  var depuis = Math.ceil((_.now() - new Date(user.created_at).getTime()) / 100 / 86400 / 30 / 24) / 10;
  var langages = {};
  var projets = 0;
  var displayName;

  if (typeof user.public_repos === 'object') {
    user.public_repos.forEach(function (repo) {
      if (repo.language) {
        langages[repo.language] = true;
        ++projets;
      }
    });
  }
  langages = Object.keys(langages);

  if (langages) { langages = langages.join(', '); }

  if (user.name) {
    displayName = user.name + ' (' + user.login + ')';
  } else {
    displayName = user.login;
  }
%>
<img src="https://avatars3.githubusercontent.com/u/<%= user.id %>" alt="Avatar de <%= displayName %>" title="Avatar de <%= displayName %>">
<h3><%= displayName %></h3>

<% if (user.location.city) { %>
  <p>Ville: <%= user.location.city %></p>
<% } %>

<p><%= user.location.github %></p>

<% if (user.company) { %>
  <p>Compagnie: <%= user.company %></p>
<% } %>

<% if (user.blog) { %>
  <p><a href="<%= user.blog %>">Site web</a></p>
<% } %>

<% if (user.hireable) { %>
  <p>Disponible.</p>
  <% if (user.email) { %>
    <p>Email: <a href="mailto:<%= user.email %>"><%= user.email.split('@').join(' @ ') %></a></p>
  <% } %>

<% } %>

<% if (user.followers) { %>
  <p><i>Followers</i>: <%= user.followers %></p>
<% } %>

<% if (langages) { %>
  <p><%= projets %> projet<%= projets > 1 ? 's' : '' %>: <%= langages %></p>
<% } %>

<p><a href="https://github.com/<%= user.login %>">github</a> (<%= depuis %>&nbsp;ans)</p>
